body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    line-height: 1.6;
    background-color:#edbbc5;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}


a {
    color: #000;
    background-color:#e4cdd2;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ba7c88;
    padding: 10px 10px;
    display: inline-block;
    margin-top: 10px;
}

